/* CSS for 'Get users' */
/* ===== Reset start ===== */
*{
	box-sizing: border-box;
}

*:focus {
	outline: none;
}

body {
	margin: 0;
	background-color: #fff;
	color: #999;
    font: 300 15px/1 'Arial', sans-serif;
    text-align: center;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover, a:active {
	text-decoration: none;
}

ul, ol {
	list-style: none;
	padding: 0;
	margin: 0;
}

.button {
    outline: none;
	border: none;
	cursor: pointer;
	background-color: transparent;
	padding: 0;
}
/* ===== Reset end ===== */
/* ===== Style start ===== */
.bg-white {
	background-color: #FAFAD2;
}

.bg-gray {
background-color: #E0FFFF;
	/* background-color: #e5e5e5; */
}

h1 {
	color: #777;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}
/* ===== Style end ===== */
/* ===== Custom start ===== */
.main {
    max-width: 1200;
}

p.info {
	font-size: 14px;
	color: #BDB76B;
}

i {
	position: absolute;
	right: 5px;
	top: 5px;
	font-size: 16px;
}

.button {
	display: inline-block;
	padding: 12px 20px;
	border-radius: 3px;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 400;
	font-family: 'Arial', sans-serif;
    letter-spacing: 0.2em;
	background-color: #E0FFFF;
	/* background-color: #e5e5e5; */
	color: #777;
}

a.button:hover {
	box-shadow: 0 0 10px rgba(0,0,0,0.3); 
}

.users-list {
	text-align: left;
	padding: 10px 30px;
	margin-top: 20px;
	margin-left: 20px;
	max-width: 30%;
}
.users-list li {
	text-transform: uppercase;
	line-height: 1.5;
	padding: 5px;
	margin-top: 10px;
	cursor: pointer;
}

.users-list li:hover {
	background-color: #EEE8AA;
}

.users-list li.active {
	background-color: #EEE8AA;
	/* font-size: 16px;
	font-style: italic; */
}

.user-info {
	position: absolute;
	left: 31%;
	margin-top: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.3); 
	padding: 10px 20px 15px;
}

td, th {
	font-size: 15px;
	padding: 5px; 
}

th {
	font-weight: bold;
}
	