i {
	position: absolute;
	right: 5px;
	top: 5px;
	font-size: 16px;
}

.nav-wrapper button.logout {
	margin-left: 10px;
}

h2{
	text-align: center;
	text-transform: uppercase;
	color: #666;
}

.alert {
	padding: 10px;
	border-radius: 5px;
	font-size: 1.1rem;
}
.alert.alert-danger {
	background: rgba(255, 192, 203, 5);
	/* background-color: #FFC0CB; */
}

.alert.alert-success {
	background: rgba(102, 205, 170, 5);

}